In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sqlalchemy import create_engine, text
from sklearn import linear_model
from sklearn.linear_model import LogisticRegression
import statsmodels.formula.api as smf
import warnings
import pandas as pd
import statsmodels.api as sm

warnings.filterwarnings('ignore')
postgres_user = 'dsbc_student'
postgres_pw = '7*.8G9QH21'
postgres_host = '142.93.121.174'
postgres_port = '5432'
postgres_db = 'houseprices'

engine = create_engine('postgresql://{}:{}@{}:{}/{}'.format(
    postgres_user, postgres_pw, postgres_host, postgres_port, postgres_db))

df = pd.read_sql_query('select * from houseprices',con=engine)

# No need for an open connection, 
# because you're only doing a single query
engine.dispose()



df.describe()

,id,mssubclass,lotfrontage,lotarea,overallqual,overallcond,yearbuilt,yearremodadd,masvnrarea,bsmtfinsf1,...,wooddecksf,openporchsf,enclosedporch,threessnporch,screenporch,poolarea,miscval,mosold,yrsold,saleprice
count,1460.000000,1460.000000,1201.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1452.000000,1460.000000,...,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000
mean,730.500000,56.897260,70.049958,10516.828082,6.099315,5.575342,1971.267808,1984.865753,103.685262,443.639726,...,94.244521,46.660274,21.954110,3.409589,15.060959,2.758904,43.489041,6.321918,2007.815753,180921.195890
std,421.610009,42.300571,24.284752,9981.264932,1.382997,1.112799,30.202904,20.645407,181.066207,456.098091,...,125.338794,66.256028,61.119149,29.317331,55.757415,40.177307,496.123024,2.703626,1.328095,79442.502883
min,1.000000,20.000000,21.000000,1300.000000,1.000000,1.000000,1872.000000,1950.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,2006.000000,34900.000000
25%,365.750000,20.000000,59.000000,7553.500000,5.000000,5.000000,1954.000000,1967.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,5.000000,2007.000000,129975.000000
50%,730.500000,50.000000,69.000000,9478.500000,6.000000,5.000000,1973.000000,1994.000000,0.000000,383.500000,...,0.000000,25.000000,0.000000,0.000000,0.000000,0.000000,0.000000,6.000000,2008.000000,163000.000000
75%,1095.250000,70.000000,80.000000,11601.500000,7.000000,6.000000,2000.000000,2004.000000,166.000000,712.250000,...,168.000000,68.000000,0.000000,0.000000,0.000000,0.000000,0.000000,8.000000,2009.000000,214000.000000
max,1460.000000,190.000000,313.000000,215245.000000,10.000000,9.000000,2010.000000,2010.000000,1600.000000,5644.000000,...,857.000000,547.000000,552.000000,508.000000,480.000000,738.000000,15500.000000,12.000000,2010.000000,755000.000000

In [2]:
df.head()

,id,mssubclass,mszoning,lotfrontage,lotarea,street,alley,lotshape,landcontour,utilities,...,poolarea,poolqc,fence,miscfeature,miscval,mosold,yrsold,saletype,salecondition,saleprice
0,1,60,RL,65.0,8450,Pave,None,Reg,Lvl,AllPub,...,0,None,None,None,0,2,2008,WD,Normal,208500
1,2,20,RL,80.0,9600,Pave,None,Reg,Lvl,AllPub,...,0,None,None,None,0,5,2007,WD,Normal,181500
2,3,60,RL,68.0,11250,Pave,None,IR1,Lvl,AllPub,...,0,None,None,None,0,9,2008,WD,Normal,223500
3,4,70,RL,60.0,9550,Pave,None,IR1,Lvl,AllPub,...,0,None,None,None,0,2,2006,WD,Abnorml,140000
4,5,60,RL,84.0,14260,Pave,None,IR1,Lvl,AllPub,...,0,None,None,None,0,12,2008,WD,Normal,250000

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1460 entries, 0 to 1459
Data columns (total 81 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   id             1460 non-null   int64
 1   mssubclass     1460 non-null   int64
 2   mszoning       1460 non-null   object
 3   lotfrontage    1201 non-null   float64
 4   lotarea        1460 non-null   int64
 5   street         1460 non-null   object
 6   alley          91 non-null     object
 7   lotshape       1460 non-null   object
 8   landcontour    1460 non-null   object
 9   utilities      1460 non-null   object
 10  lotconfig      1460 non-null   object
 11  landslope      1460 non-null   object
 12  neighborhood   1460 non-null   object
 13  condition1     1460 non-null   object
 14  condition2     1460 non-null   object
 15  bldgtype       1460 non-null   object
 16  housestyle     1460 non-null   object
 17  overallqual    1460 non-null   int64
 18  overallcond    1460 non-null   int64
 19  yearbuilt      1460 non-null   int64
 20  yearremodadd   1460 non-null   int64
 21  roofstyle      1460 non-null   object
 22  roofmatl       1460 non-null   object
 23  exterior1st    1460 non-null   object
 24  exterior2nd    1460 non-null   object
 25  masvnrtype     1452 non-null   object
 26  masvnrarea     1452 non-null   float64
 27  exterqual      1460 non-null   object
 28  extercond      1460 non-null   object
 29  foundation     1460 non-null   object
 30  bsmtqual       1423 non-null   object
 31  bsmtcond       1423 non-null   object
 32  bsmtexposure   1422 non-null   object
 33  bsmtfintype1   1423 non-null   object
 34  bsmtfinsf1     1460 non-null   int64
 35  bsmtfintype2   1422 non-null   object
 36  bsmtfinsf2     1460 non-null   int64
 37  bsmtunfsf      1460 non-null   int64
 38  totalbsmtsf    1460 non-null   int64
 39  heating        1460 non-null   object
 40  heatingqc      1460 non-null   object
 41  centralair     1460 non-null   object
 42  electrical     1459 non-null   object
 43  firstflrsf     1460 non-null   int64
 44  secondflrsf    1460 non-null   int64
 45  lowqualfinsf   1460 non-null   int64
 46  grlivarea      1460 non-null   int64
 47  bsmtfullbath   1460 non-null   int64
 48  bsmthalfbath   1460 non-null   int64
 49  fullbath       1460 non-null   int64
 50  halfbath       1460 non-null   int64
 51  bedroomabvgr   1460 non-null   int64
 52  kitchenabvgr   1460 non-null   int64
 53  kitchenqual    1460 non-null   object
 54  totrmsabvgrd   1460 non-null   int64
 55  functional     1460 non-null   object
 56  fireplaces     1460 non-null   int64
 57  fireplacequ    770 non-null    object
 58  garagetype     1379 non-null   object
 59  garageyrblt    1379 non-null   float64
 60  garagefinish   1379 non-null   object
 61  garagecars     1460 non-null   int64
 62  garagearea     1460 non-null   int64
 63  garagequal     1379 non-null   object
 64  garagecond     1379 non-null   object
 65  paveddrive     1460 non-null   object
 66  wooddecksf     1460 non-null   int64
 67  openporchsf    1460 non-null   int64
 68  enclosedporch  1460 non-null   int64
 69  threessnporch  1460 non-null   int64
 70  screenporch    1460 non-null   int64
 71  poolarea       1460 non-null   int64
 72  poolqc         7 non-null      object
 73  fence          281 non-null    object
 74  miscfeature    54 non-null     object
 75  miscval        1460 non-null   int64
 76  mosold         1460 non-null   int64
 77  yrsold         1460 non-null   int64
 78  saletype       1460 non-null   object
 79  salecondition  1460 non-null   object
 80  saleprice      1460 non-null   int64
dtypes: float64(3), int64(35), object(43)
memory usage: 924.0+ KB

In [4]:
columns_to_skip = ['saleprice']
for column in columns_to_skip:
    # Extract unique values for the current column
    df[column].fillna('NA', inplace=True)  
    unique_values = df[column].unique()
    # Print the column name and its unique values
    print(f"Unique values for column '{column}':")
    for value in unique_values:
        print(value)
    print()

Unique values for column 'saleprice':
208500
181500
223500
140000
250000
143000
307000
200000
129900
118000
129500
345000
144000
279500
157000
132000
149000
90000
159000
139000
325300
139400
230000
154000
256300
134800
306000
207500
68500
40000
149350
179900
165500
277500
309000
145000
153000
109000
82000
160000
170000
130250
141000
319900
239686
249700
113000
127000
177000
114500
110000
385000
130000
180500
172500
196500
438780
124900
158000
101000
202500
219500
317000
180000
226000
80000
225000
244000
185000
144900
107400
91000
135750
136500
193500
153500
245000
126500
168500
260000
174000
164500
85000
123600
109900
98600
163500
133900
204750
214000
94750
83000
128950
106250
205000
178000
118964
198900
169500
100000
115000
190000
136900
383970
217000
259500
176000
155000
320000
163990
136000
153900
181000
84500
128000
87000
150000
150750
220000
171000
231500
166000
204000
125000
105000
222500
122000
372402
235000
79000
109500
269500
254900
162500
412500
103200
152000
127500
325624
183500
228000
128500
215000
239000
163000
184000
243000
211000
501837
200100
120000
475000
173000
135000
153337
286000
315000
192000
148500
311872
104000
274900
171500
112000
143900
277000
98000
186000
252678
156000
161750
134450
210000
107000
311500
167240
204900
97000
386250
290000
106000
192500
148000
403000
94500
128200
216500
89500
185500
194500
318000
262500
110500
241500
137000
76500
276000
151000
73000
175500
179500
120500
266000
124500
201000
415298
228500
244600
179200
164700
88000
153575
233230
135900
131000
167000
142500
175000
158500
267000
149900
295000
305900
82500
360000
165600
119900
375000
188500
270000
187500
342643
354000
301000
126175
242000
324000
145250
214500
78000
119000
284000
207000
228950
377426
202900
87500
140200
151500
157500
437154
318061
95000
105900
177500
134000
280000
198500
147000
165000
162000
172400
134432
123000
61000
340000
394432
179000
187750
213500
76000
240000
81000
191000
426000
106500
129000
67000
241000
245500
164990
108000
258000
168000
339750
60000
222000
181134
149500
126000
142000
206300
275000
109008
195400
85400
79900
122500
212000
116000
90350
555000
162900
199900
119500
188000
256000
161000
263435
62383
188700
124000
178740
146500
187000
440000
251000
132500
208900
380000
297000
89471
326000
374000
164000
86000
133000
172785
91300
34900
430000
226700
289000
208300
164900
202665
96500
402861
265000
234000
184750
315750
446261
200624
107500
39300
111250
272000
248000
213250
179665
229000
263000
112500
255500
121500
268000
325000
316600
135960
142600
224500
118500
146000
131500
181900
253293
369900
79500
185900
451950
138000
319000
114504
194201
217500
221000
359100
313000
261500
75500
137500
183200
105500
314813
305000
165150
139900
209500
93000
264561
274000
370878
143250
98300
205950
350000
145500
97500
197900
402000
423000
230500
173500
103600
257500
372500
159434
285000
227875
148800
392000
194700
755000
335000
108480
141500
89000
123500
138500
196000
312500
361919
213000
55000
302000
254000
179540
52000
102776
189000
130500
159500
341000
103000
236500
131400
93500
239900
299800
236000
265979
260400
275500
158900
179400
215200
337000
264132
216837
538000
134900
102000
395000
221500
175900
187100
161500
233000
107900
160200
146800
269790
143500
485000
582933
227680
135500
159950
144500
55993
157900
224900
271000
224000
183000
139500
232600
147400
237000
139950
174900
133500
189950
250580
248900
169000
200500
66500
303477
132250
328900
122900
154500
118858
142953
611657
125500
255000
154300
173733
75000
35311
238000
176500
145900
169990
193000
117500
184900
253000
239799
244400
150900
197500
172000
116500
214900
178900
37900
99500
182000
167500
85500
178400
336000
159895
255900
117000
395192
195000
197000
348000
173900
337500
121600
206000
232000
136905
119200
227000
203000
213490
194000
287000
293077
310000
119750
84000
315500
262280
278000
139600
556581
84900
176485
200141
185850
328000
167900
151400
91500
138800
155900
83500
252000
92900
176432
274725
134500
184100
133700
118400
212900
163900
259000
239500
94000
424870
174500
116900
201800
218000
235128
108959
233170
245350
625000
171900
154900
392500
745000
186700
104900
262000
219210
116050
271900
229456
80500
137900
169900
367294
101800
138887
265900
248328
465000
186500
171750
294000
165400
301500
99900
128900
183900
378500
381000
185750
68400
150500
281000
333168
206900
295493
111000
156500
72500
52500
155835
108500
283463
410000
156932
144152
216000
274300
466500
58500
237500
377500
246578
281213
137450
193879
282922
257000
223000
274970
182900
192140
143750
64500
394617
149700
149300
121000
179600
92000
287090
266500
142125
147500

In [27]:
# Step 2: Prepare the Data
X = df[['humidity', 'windspeed', 'windbearing', 'pressure']]  # Explanatory variables
y = df['saleprice']  # Target variable

# Add constant term for intercept
X = sm.add_constant(X)

# Step 3: Fit the OLS Model
model = sm.OLS(y, X).fit()

# Step 4: Interpret the Results
print(model.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:            temperature   R-squared:                       0.421
Model:                            OLS   Adj. R-squared:                  0.421
Method:                 Least Squares   F-statistic:                 1.750e+04
Date:                Tue, 23 Apr 2024   Prob (F-statistic):               0.00
Time:                        21:42:18   Log-Likelihood:            -3.2821e+05
No. Observations:               96453   AIC:                         6.564e+05
Df Residuals:                   96448   BIC:                         6.565e+05
Df Model:                           4
Covariance Type:            nonrobust
===============================================================================
                  coef    std err          t      P>|t|      [0.025      0.975]
-------------------------------------------------------------------------------
const          37.9264      0.233    162.709      0.000      37.470      38.383
humidity      -32.4962      0.123   -264.288      0.000     -32.737     -32.255
windspeed      -0.2014      0.003    -57.557      0.000      -0.208      -0.195
windbearing     0.0040      0.000     18.463      0.000       0.004       0.004
pressure       -0.0007      0.000     -3.452      0.001      -0.001      -0.000
==============================================================================
Omnibus:                     3375.432   Durbin-Watson:                   0.059
Prob(Omnibus):                  0.000   Jarque-Bera (JB):             3793.297
Skew:                          -0.455   Prob(JB):                         0.00
Kurtosis:                       3.339   Cond. No.                     1.06e+04
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 1.06e+04. This might indicate that there are
strong multicollinearity or other numerical problems.